/* --- NAVIGATION -- */

div.navbar-collapse {
    justify-content: flex-end;
}

/* --- HEADER -- */

.relative {
    display: block;
    position: relative;   
}

.banner-img {
    width: 100%;
    height: 30em;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-image:url("http://placehold.it/800x650");
}

/* --- PRODUCT PHOTO -- */

div.features h2 {
    text-align: center;
}

div.features img {
    display: block;
    margin: 0 auto;   
}

div.price {
    border: 15px solid aliceblue;
    padding: 3em;
    background-color: #fff;
    text-align: center;
}

.price h4,
.price h5,
.price p {
    display: block;   
}

strong.price-figure {
    font-size: 2em;
}

div.banner-img {
    text-align: center;
    padding-top: 4em;
}

button.enyo-btn {
    border-radius: 50px;   
}

div.download-it {
    padding: 3em;   
}

div.download-it li,
div.download-it ul {
    list-style-type: none;
    padding: 0;
}

div.media {
    padding: 1em;   
}

div.features h2 {
    padding: 1.75em 0;   
}

/* --- PLANS -- */

div.plans-container {
    background-color: aliceblue;   
}

div.plans-container .row:first-child {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 40em;
    padding: 7em 0 3em 0;
    background-color: aliceblue;
}

div.plans-container .row:nth-child(2) {
    margin: 0 5em;
    
}

.capitalize {
    text-transform: uppercase;
}

/* --- CONTACT -- */

div.contact-info {
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    padding: 3em 0;
}

div.contact-info h3 {
    margin: 1em 0; 
}

div.contact-items h5 {
    margin: 0.75em 0;   
}

div.contact-items h5 {
    width: 12em;
    display: inline-block;
}

/* --- DOWNLOAD -- */

div.download-template {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 45em;
    padding: 3em;
}

div.footer-img {
    width: 100%;
    height: 20em;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-image:url("http://placehold.it/800x300");
    margin: 0 auto;   
}